<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <dict>
      <key>armv7</key>
      <true/>
    </dict>
    <key>artistName</key>
    <string>AMX Productions</string>
    <key>bundleDisplayName</key>
    <string>Condor</string>
    <key>bundleShortVersionString</key>
    <string>1.0.0</string>
    <key>bundleVersion</key>
    <string>1.0.0</string>
    <key>copyright</key>
    <string>© 2017 Justin Byers</string>
    <key>drmVersionNumber</key>
    <integer>0</integer>
    <key>fileExtension</key>
    <string>.app</string>
    <key>gameCenterEnabled</key>
    <false/>
    <key>gameCenterEverEnabled</key>
    <false/>
    <key>genre</key>
    <string>Utilities</string>
    <key>genreId</key>
    <integer>6002</integer>
    <key>itemName</key>
    <string>Condor</string>
    <key>kind</key>
    <string>software</string>
    <key>playlistArtistName</key>
    <string>AMX Productions</string>
    <key>playlistName</key>
    <string>Condor</string>
    <key>releaseDate</key>
    <string>2017-10-10T03:23:10Z</string>
    <key>s</key>
    <integer>143441</integer>
    <key>softwareIconNeedsShine</key>
    <false/>
    <key>softwareSupportedDeviceIds</key>
    <array>
      <integer>9</integer>
    </array>
    <key>softwareVersionBundleId</key>
    <string>com.amxproductions.condor</string>
    <key>subgenres</key>
    <array>
    </array>
    <key>versionRestrictions</key>
    <integer>16843008</integer>
  </dict>
</plist>